<header>
  <h1>GIGAtester</h1>
  <nav class="navigation-bar">
    <ul class="navigation-links">
      <li routerLinkActive="active">
        <a routerLink="zbs">ZBS</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="zbs-entry">ZBS - wejściówki</a>
      </li>
      <li>
        <a href="#">RPI</a>
      </li>
      <li>
        <a href="#">ZFI</a>
      </li>
      <li>
        <a href="#">BSK</a>
      </li>
      <li>
        <a href="#">WZR</a>
      </li>
      <li>
        <a href="#">JO</a>
      </li>
    </ul>
  </nav>
  <div class="user-login">
    <a>jebać bazy niewiedzy</a>
  </div>
</header>
