<header>
  <h1 routerLink="">GIGAtester</h1><!--add router link here to home page-->
  <nav class="navigation-bar">
    <ul class="navigation-links">
      <li routerLinkActive="active">
        <a routerLink="zbs">ZBS</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="zbs-entry">ZBS - wejściówki</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="rpi">RPI</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="zfi">ZFI</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="bsk">BSK</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="wzr">WZR</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="jo">JO</a>
      </li>
    </ul>
  </nav>
  <div class="user-login">
    <a>jebać bazy niewiedzy</a>
  </div>
</header>
