<div id="selection">
  <label for="entries">Wybierz wejściówkę:</label>
  <select name="entries" id="entries" (change)="initEntry()" [(ngModel)]="selectedEntry">
    <option value="firewall">Firewall</option>
    <option value="radius">Radius</option>
    <option value="vlan2">VLAN 2</option>
    <option value="monitoring">Monitoring</option>
    <option value="pki">PKI</option>
    <option value="netscan">Skanowanie sieci</option>
    <option value="ipv6">Tunele IPv6 i IPSec</option>
  </select>
</div>

<div id="entry" *ngIf="selectedEntry!==''">
  <h1>Pytania:</h1>
  <ul>
    <li *ngFor="let q of questions; let i = index">
      <p>
        {{i + 1}}. {{q.content}}
      </p>
      <p *ngIf="showAnswers" class="answer">
        {{q.correctAnswer}}
      </p>
      <textarea rows="6"></textarea>
    </li>
  </ul>
  <button *ngIf="!showAnswers" (click)="onSubmit()">Sprawdz</button>
  <button *ngIf="showAnswers" (click)="onNewEntry()">Nowa wejściówka</button>
</div>
