<div class="info-div">
  <h1>GIGAtester na 6 sem</h1>
  <p>
    Tester do wszystkich przedmiotów z 6 semestru aplikacji (w tym przedmiotów wspólnych) i niektórych przedmiotów systemów, w ramach których występuje
    forma weryfikacji przyswojonej przez studenta wiedzy w formie kolokwiów bądź też innych gówien. ( no prawie wszystkich,
    1. jebać bazy wiedzy, 2. nie do wszystkiego są pytania w paczce :/ )
    <br/><br/>
    Zawiera chyba wszytkie pytania z paczki, te otwarte jak i
    zamknięte jak i chuj wie jeszcze jakie.
    <br/><br/>
    Ogólnie ten tester służy bardziej do powtórki/utrwalania wiedzy, jeżeli
    chcecie
    student debil mode (nic nie umiecie na dany temat) <a href="https://311volt.github.io/pro-trainer/">lepiej skorzystać z testera Janka.</a>
    <br/><br/>
    Jakbyście znaleźli jakieś bugi albo (w szczególności) błędy w odpowiedziach, dajcie znać to poprawie.
  </p>
</div>
